<!--Header starts-->
<fc-topic></fc-topic>
<!--Header ends-->

<!--Collection list starts-->
<md-content class="md-padding" layout-xs="column">
    <div flex-xs flex-gt-xs="50" layout="column" class="col-md-6" ng-repeat="collection in collectionCtrl.collections">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{collection.name}}</span>
                    <span class="md-subhead">{{collection.description | limitTo:60}}...</span>
                    <br/>
                    <span class="md-subhead">Modified: {{collection.modified}}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                <span class="md-subhead">Card amount({{collection.cardsAmount}})</span>
                <md-button ui-sref=""><span class="glyphicon glyphicon-heart"></span> {{collection.rating}}</md-button>
                <md-button ng-click="collectionCtrl.viewCards(collection.id)">View cards</md-button>
            </md-card-actions>
        </md-card>
    </div>
</md-content>
<!--Collection list ends-->

<!--div ng-repeat="collection in collectionCtrl.collections">
    {{collection.name}}
    {{collection.description}}
</div-->