<div ng-cloak="" class="tabsDynamicHeight">

    <md-content>
        <md-toolbar>
            <div class="md-toolbar-tools toolbar-color">
                <h2>WELCOME</h2>
                <span flex></span>
                <md-button class="md-icon-button btn-like" ng-click="loginFormCtrl.cancel()">
                    <span class="glyphicon glyphicon-remove"></span>
                </md-button>
            </div>
        </md-toolbar>
        <md-tabs md-dynamic-height="" md-border-bottom="">
            <md-tab label="{{'LOGIN' | translate}}">
                <md-content class="md-padding">
                    <h4 ng-if="loginFormCtrl.regMsg" class="text-success">Регистрация прошла успешно</h4>
                    <h3 class="md-display-2">{{'LOGIN' | translate}}</h3>
                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Имя пользователя</label>
                        <input type="text" ng-model="loginFormCtrl.user.login">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Пароль</label>
                        <input type="password" ng-model="loginFormCtrl.user.password">
                    </md-input-container>
                    <div class="text-center">
                        <md-button ng-click="loginFormCtrl.signIn()" class="btn-green"
                                   style="font-family: Montserrat, sans-serif;"><span
                                class="glyphicon glyphicon-log-in"></span>&nbsp;Войти
                        </md-button>
                        <md-button ng-click="loginFormCtrl.cancel()" class="btn-red"
                                   style="font-family: Montserrat, sans-serif;"><span
                                class="glyphicon glyphicon-remove"></span>&nbsp;Отмена
                        </md-button>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="{{'REGISTER' | translate}}">
                <md-content class="md-padding">
                    <h3 class="md-display-2">{{'REGISTER' | translate}}</h3>
                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Имя пользователя</label>
                        <input type="text" ng-model="loginFormCtrl.user.login">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>E-mail</label>
                        <input type="email" ng-model="loginFormCtrl.user.email">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Пароль</label>
                        <input type="password" ng-model="loginFormCtrl.user.password">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Подтвердите пароль</label>
                        <input type="password" ng-model="loginFormCtrl.user.passwordConfirmation">
                    </md-input-container>
                    <div class="text-center">
                        <md-button ng-click="loginFormCtrl.register()"
                                   class="btn-green"><span class="glyphicon glyphicon-user">&nbsp;Register</span>
                        </md-button>
                        <md-button ng-click="loginFormCtrl.cancel()" class="btn-red"
                                   style="font-family: Montserrat, sans-serif;"><span
                                class="glyphicon glyphicon-remove"></span>&nbsp;Cancel
                        </md-button>
                    </div>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>
