<div id="myCarousel" class="carousel slide visible-md visible-lg" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="fill image-container-400">
                <img src="{{singleCategoryCtrl.category.image}}" alt="Categories">
            </div>
            <div class="carousel-caption">
                <h3>{{singleCategoryCtrl.category.name}}</h3>
                <h3>Topics</h3>
            </div>
        </div>
    </div>
</div>