<div ui-view></div>

<fc-carousel></fc-carousel>
    <md-content flex layout-padding class="text-center">
        <h3>FC-LEARN</h3>
        <p class="text-size-15"><em>{{"WELCOME" | translate}}</em></p>
        <p class="text-size-15"> Разработанное приложение позволяет изучать основы программирования и другие научные дисциплины, не тратя лишних усилий, времени и средств на курсы, так как методика «flashcards» признана эффективной для самостоятельного изучения различных дисциплин.
        </p>
    </md-content>

<md-content class="md-padding left-right-20-paddings" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="50" layout="column">
        <md-card>
            <img ng-src="img/welcome-image.jpg" class="md-card-image" alt="Washed Out">
            <md-card-title>
                <md-card-title-text class="text-center">
                    <span class="md-headline">Action buttons</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-actions ng-if="!getUser()" layout="row" layout-align="center">
                <md-button ui-sref="main.login" class="btn-green text-size-15">
                    <span class="glyphicon glyphicon-log-in"></span> {{"SIGN_IN" | translate}}</md-button>
            </md-card-actions>
        </md-card>
    </div>
    <div flex-xs flex-gt-xs="50" layout="column">
        <md-card>
            <img ng-src="img/cards.jpg" class="md-card-image" alt="Washed Out">
            <md-card-title>
                <md-card-title-text class="text-center">
                    <span class="md-headline">Action buttons</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-actions layout="row" layout-align="center">
                <md-button ui-sref="categories" class="btn-gray">{{"CATEGORIES" | translate}}</md-button>
            </md-card-actions>
        </md-card>
    </div>
</md-content>