<div id="myCarousel" class="carousel slide visible-md visible-lg" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="fill image-container-400">
                <img src="img/collections.jpg" alt="Categories">
            </div>
            <div class="carousel-caption">
                <h3>{{collectionCtrl.topic.name}}</h3>
                <h3>Вы изучаете коллекции:</h3>
            </div>
        </div>
    </div>
</div>

<md-content class="md-padding" layout-xs="column">

    <h2 ng-if="myCollectionCtrl.collections.length === 0" class="text-center">У вас нет коллекций. Пожалуйста, перейдите в раздел <a ui-sref="categories">категории.</a></h2>

    <div flex-xs flex-gt-xs="50" layout="column" class="col-md-6" ng-repeat="collection in myCollectionCtrl.collections">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{collection.name}}</span>
                    <span class="md-subhead">{{collection.description | limitTo:60}}...</span>
                    <br/>
                    <span class="md-subhead">{{"MODIFIED" | translate}}: {{collection.modified}}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center" class="action-collections">
                <span class="md-subhead">{{"CARD_AMOUNT" | translate}}({{collection.cardsAmount}})</span>
                <md-button ui-sref="" class="btn-like"><span class="glyphicon glyphicon-heart btn-like"></span> {{collection.rating}}</md-button>
                <md-button ng-click="myCollectionCtrl.viewCards(collection.id)" class="btn-gray">Начать тренинг</md-button>
            </md-card-actions>
        </md-card>
    </div>
</md-content>
